

#login{
width: 100%;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;

background: url(../img/pexels-lumn-167699.jpg);

background-position: center;
object-fit: cover;


}
.title{
    margin: 50px 0 50px 0;

    >h3{
        font-weight: bold;
        font-size: 25px;
    }
}

.form-section{
  width: 50%;
    padding: 20px ;
    border-radius: 6px;
    background: rgba(225,225,225,.05);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 8px 10px 0 rgba(0,0,0,.06);

   
  }


.login-inner-form{
   
    margin: 50px 0 50px 0; 
    background: transparent;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
 

#username,#password{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}


}

.submit-btn{
    width: 100%;
} 

.createAccount{
    text-align: center;
    padding-top: 1rem ;
    color: black;
}
